body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #FAF5F5;
}

.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  width: 100%;
  animation: transitionIn 0.5s ease-in-out;
}

@keyframes transitionIn {
  from {
      opacity: 0;
      transform: translateY(0);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.left-main {
  padding: 0 12%;
  animation: transitionIn 0.5s ease-in-out;
}

@keyframes transitionIn {
  from {
      opacity: 0;
      transform: translateY(0);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2%;
}

.change-display {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 11% 10px;
  padding: 0;
}

.change-display h2 {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-item {
  position: relative;
}

.btn-secondary {
  background-color: white;
  border-color: black;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-secondary img {
  width: 20px;
  height: 20px;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 150px;
  padding: 5px 0;
}

.dropdown-item {
  padding: 8px 15px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: black;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  background-color: white;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 8px;
  padding: 5px;
  margin-top: 5px;
  width: 400px;
  display: flex;
  align-items: center;
  animation: slideDown 0.3s ease forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.search-input {
  border: none;
  box-shadow: none;
  flex: 1;
  padding: 8px;
}

.search-button {
  margin-left: 5px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #b16757;
  color: white;
}

.spacer {
  height: 45px;
  width: 100%;
}
